.course{
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  text-align: center;
}

// For desktops
@media only screen and (min-width: 400px) {
  .course{
    width: 250px;
  }
  
}